{% extends "base.html" %}
<!--  -->
{% load static %} {% load app_tags %}
<!--  -->
{% block title %}Administration: Corps{% endblock %}
<!--  -->
{% block content %}
<div class="layout-v2">
  {% include 'fragments/_aside.html' %}

  <div class="content">
    <div class="col-md-12">
      <h3 class="p-15">
        Administration des corps
      </h3>
    </div>
    <div class="col-md-12">
      <a
        href="{% url page.namespaces.create %}"
        class="btn btn--success btn-sm float-right"
        >Ajouter un corps</a
      >
      <br class="clearfix" /><br />
      <hr />
      {% include 'fragments/_list.html' %}
    </div>
  </div>
</div>
{% endblock content %}

<!-- Modal -->
{% block modal %} {% endblock modal%}
