{% extends "base.html" %} 

{% load static %} 

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="wrapper">
  <div class="banner">
    <h3 class="p-15">
      {{ user.first_name }} {{ user.last_name }}
      <small class="fs-11">(<a href="{% url 'app:users:update' %}">Matricule: {{ user.matricule }})</a></small>
    </h3>
    <div class="tabs">
      <ul class="tabs__list">
        <li class="tabs__item tabs__item--active">
          <a href="#requests" class="tabs__link">Demandes</a>
        </li>
      </ul>
      <div class="tabs__content">
        <div id="requests tabs__content-active">
          <a href="#" class="btn btn--success float-right btn-sm"
            >Ajouter une demande</a
          >
          <br class="clearfix" />
          <br />
          <table class="table_n m-t-15">
            <thead>
              <tr>
                <th>#</th>
                <th>Montant demandé</th>
                <th>Montant alloué</th>
                <th>Catégorie</th>
                <th>Référence courier</th>
                <th>Date de dépot de la demande</th>
                <th>status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for loan in user.request_set.all %}
              <tr>
                <td>{{ loan.id }}</td>
                <td><a href="#">{{ loan.amount_requested }}</a></td>
                <td>{{ loan.amount_awarded }}</td>
                <td>{{ loan.category.name }}</td>
                <td>{{ loan.post_reference }}</td>
                <td>{{ loan.date }}</td>
                <td>{{ loan.status }}</td>
                <td>
                  <a href="{% url 'app:loans:detail' pk=loan.pk %}" class="btn btn-sm btn--success">Voir</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% include 'fragments/users/_user_infos.html' %}
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/user_detail/index.js' %}"></script>
{% endblock javascript %}

<!-- Modal -->
{% block modal %}
<div id="cs_modal" class="cs_modal">
  <div class="cs_modal__content">
    <div class="mdl__title">
      <h4>
        <span id="category_title_id">Demande de prêt</span>
        <i class="far fa-times-circle float-right"></i>
      </h4>
    </div>
    <form method="post" action="">
      {% csrf_token %}
      <div class="row">
      <div class="col-sm-6">
        <div class="filter__group">
          <label class="filter__group__label">{{ view.forms.loan_form.amount_requested.label }}</label>
          {{ view.forms.loan_form.amount_requested}}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="filter__group">
          <label class="filter__group__label">{{ view.forms.loan_form.category.label }}</label>
          {{ view.forms.loan_form.category }}
        </div>
      </div>
      <div class="col-sm-12">
        <div class="filter__group">
          <label class="filter__group__label">{{ view.forms.loan_form.observations.label }}</label>
          {{ view.forms.loan_form.observations }}
        </div>
      </div>
      <div class="col-sm-12">
        <table class="table_n m-t-15" id="loan_table_id">
          <thead>
            <tr>
              <th>Type de pièce</th>
              <th>Nombre exigé</th>
              <th>Nombre fournie</th>
              <th>Référence</th>
              <th>Date pièce</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <br />
      <hr />
      <div class="col-sm-12 m-t-15">
        <button
          type="submit"
          name="add_load"
          class="btn btn--success float-right btn-sm m-l-15 fs-11"
        >
          ENREGISTRER LA DEMANDE
        </button>
        <button type="reset" class="btn btn--danger float-right btn-sm fs-11">
          ANNULER LES MODIFICATIONS
        </button>
      </div>
    </div>
    </form>
  </div>
</div>
{% endblock modal%}